.auth {
  margin: 3rem auto;
  /* width: 95%; */
  margin-top: 8rem;
  max-width: 30rem;
  border-radius: 6px;
  background-color: rgba(114, 190, 235, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: rgb(20, 19, 19);
  font-family: Arial, Helvetica, sans-serif;
}

.switchCon button {
  border: none;
  background: none;
  color: blue;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-image: url('path/to/your/image.jpg'); */
  background-size: cover;
  background-position: center;
}

.container h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
